{% extends 'base.html.twig' %}

{% block title %}Edit Scans{% endblock %}

{% block body %}
    <h1>Edit Scans</h1>

    {{ include('scans/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('scans_index') }}">back to list</a>

    {{ include('scans/_delete_form.html.twig') }}
{% endblock %}
