{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <h1>Création d'un nouvel article</h1>

    {{ include('items/_form.html.twig') }}

    <a href="{{ path('items_index') }}">Retour à la liste</a>
{% endblock %}
