<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <h3>
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Accueil</span>
            </a>
        </h3>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/items">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Articles</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/categories">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Catégories d'articles</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/scans">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Scans</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/notes">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Notes</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/statistiques">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Statistiques</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/utilisateurs">
            <i class="fas fa-fw fa-table"></i>
            <span>Utilisateurs</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/parametres">
            <i class="fas fa-fw fa-table"></i>
            <span>Paramètres</span></a>
    </li>
</ul>
